@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(1, 91, 1, 0.747),rgba(222, 254, 189, 0.852));
}
.Login{
    transition: transform 0.3s ease-in-out;
}

.Login form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.078);
    box-shadow: 0px 8px 32px 0 rgba(34, 112, 1, 0.49);
    border-radius: 30px;
    border-left: 2px solid rgba(255, 255, 255, 0.505);
    border-top: 2px solid rgba(255, 255, 255, 0.505);
}
.Login form h1{
    font-size: 50px;
    text-align: center;
    color: rgba(17, 54, 1, 0.813);
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.705);
    margin-top: 2%;
    margin-bottom: 5%;
    opacity: .7;
}
.Login form label{
    font-size: 20px;
    color: rgba(17, 54, 1, 0.813);
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.705);
}
.Login form input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.411);
    color: rgba(17, 54, 1, 0.879);
    opacity: .9;
}
.Login form button{
    width: 50%;
    margin: 3% auto;
    color: rgba(17, 54, 1, 0.813);
    font-size: 25px;
    opacity: .7;
    background: rgba(255, 255, 255, 0.17);
    padding: 3px 4px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.705);
    border-left: 2px solid rgba(255, 255, 255, 0.505);
    border-top: 2px solid rgba(255, 255, 255, 0.505);
}

.navbar-brand{
    opacity: .8;
}

.slide-left {
    transform: translateX(-100%);
}
.slide-right {
    transform: translateX(100%);
}